
/* Login button styling */
.nav-links .login-button {
	background-color: #3498db;
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-links .login-button:hover {
	background-color: #2980b9;
	transform: scale(1.05);
}

.nav-links .login-button i {
	margin-right: 5px;
}
