<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Doğru Hoca - Giriş Yap">
	<meta name="keywords" content="Giriş, Öğretmen, Öğrenci">
	<meta name="author" content="Doğru Hoca">
	<link rel="stylesheet" href="{{ url_for('static', filename='styleforms.css') }}">
    <link rel="icon" type="image/png" href="../static/img/logo.png">
	<title>Doğru Hoca - Giriş Yap</title>
</head>
<body>
	<style>
		body {
			background-image: url('../static/img/2.jpg');
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}
	</style>
	<header>
		<h1>Doğru Hoca</h1>
		<p>Eğitim ve Öğretim Portalına Hoş Geldiniz</p>
	</header>

	<div class="container">
		<!-- Flash messages -->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="flashes">
				<ul>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		{% endwith %}

		<form action="/login" method="POST">
			<h2>Giriş Yap</h2>
			<label for="role">Rol:</label>
			<select id="role" name="role" required>
				<option value="teacher">Öğretmen</option>
				<option value="student">Öğrenci</option>
			</select>
			<label for="username">Kullanıcı Adı:</label>
			<input type="text" id="username" name="username" placeholder="Kullanıcı adınızı girin" required>
			<label for="password">Parola:</label>
			<input type="password" id="password" name="password" placeholder="Parolanızı girin" required>
			<button type="submit">Giriş Yap</button>
			<p>Hesabınız yok mu? <a href="register">Kayıt Ol</a></p>
		</form>
	</div>

	<footer>
		<p>&copy; 2024 Doğru Hoca - Tüm Hakları Saklıdır</p>
	</footer>
</body>
</html>
