<!DOCTYPE html>
<html>
<head>
  <title>Kullanıcı Listesi</title>
  <style>
    table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    background-color: #2c3e50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

img.profile-thumb {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}
  </style>
</head>
<body>
  <h2>Kullanıcılar</h2>
  <table border="1">
    <tr>
        <th>ID</th>
        <th>Rol</th>
        <th>Kullanıcı Adı</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Doğum Tarihi</th>
        <th>Cinsiyet</th>
        <th>Sınıf</th>
        <th>Ders</th>
        <th>Telefon</th>
        <th>Okul No</th>
        <th>Okul Adı</th>
        <th>Gmail</th>
        <th>Profil Fotoğrafı</th>
    </tr>
    {% for u in users %}
    <tr>
        <td>{{ u[0] }}</td>
        <td>{{ u[1] }}</td>
        <td>{{ u[2] }}</td>
        <td>{{ u[3] }}</td>
        <td>{{ u[4] }}</td>
        <td>{{ u[5] }}</td>
        <td>{{ u[6] }}</td>
        <td>{{ u[7] }}</td>
        <td>{{ u[8] }}</td>
        <td>{{ u[9] }}</td> <!-- phone -->
        <td>{{ u[10] }}</td> <!-- school_number -->
        <td>{{ u[11] }}</td> <!-- school_name -->
        <td>{{ u[12] }}</td> <!-- gmail -->
        <td>
            {% if u[13] %}
              <a href="{{ url_for('static', filename='profile_pics/' ~ u[13]) }}" download="{{ u[1] }}_profile.jpg">
                <img src="{{ url_for('static', filename='profile_pics/' ~ u[13]) }}" class="profile-thumb">
              </a>
            {% else %}
              Yok
            {% endif %}
          </td>
    </tr>
    {% endfor %}
  </table>

  <a href="{{ url_for('export_users') }}">CSV olarak indir</a>
</body>
</html>
